body {
  background-color: blue;
  margin: 0;
}

#container {
  width: 1024px;
  height: 774px;
  background-color: whitesmoke;
  margin: auto;
}

@media (max-width: 1024px) {
  body {
    background-color: green;
  }
  #container {
    width: 500px;
  }
}
